.menu .navigation {
    min-height: 100vh;
}

.brand {
    display: flex;
    justify-content: flex-start;
    height: var(--firm-space-3600, 144px);
}

.brand .wrapper,
.navigation .wrapper {
    padding-inline: var(--firm-space-fixed-md);
}

.brand,
.navigation {
    color: var(--firm-color-nav-content-default);
}

.navigation {
    background: var(--firm-color-nav-surface-default);
    margin-block-start: calc(-1 * var(--firm-space-3600, 144px));
}

.brand a,
.navigation a {
    border: var(--firm-form-control-border-width) var(--firm-border-style) var(--firm-color-nav-surface-default);
    color: var(--firm-color-nav-content-default);
    text-decoration: none;
}

.navigation li li a {
    background-color: var(--firm-color-nav-secondary-surface-default);
    border-color: var(--firm-color-nav-secondary-border-default);
}

.brand a {
    display: inline-block;
}

.brand a svg {
    max-width: 30vw;
}

.navigation .menu-toggle {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    height: var(--firm-space-3600, 144px);
}

.navigation .button {
    background: var(--firm-color-nav-surface-default);
    color: inherit;
    border-radius: 0;
    padding-inline: 0;
    gap: 0;
    height: 48px;
    width: 48px;
}

.brand a:hover,
.navigation .button:hover,
.navigation a:hover {
    background-color: var(--firm-color-nav-surface-hover);
    border-color: var(--firm-color-nav-border-hover);
    box-shadow: none;
    color: var(--firm-color-nav-content-hover);
}

.navigation li li a:hover {
    background-color: var(--firm-color-nav-secondary-surface-hover);
    border-color: var(--firm-color-nav-secondary-border-hover);
    color: var(--firm-color-nav-secondary-content-hover);
}

.brand a:focus,
.brand a:active,
.navigation .button:focus,
.navigation .button:active,
.navigation a:focus,
.navigation a:active {
    background-color: var(--firm-color-nav-surface-focus);
    border-color: var(--firm-color-nav-surface-focus);
    box-shadow: none;
    color: var(--firm-color-nav-content-focus);
}

.navigation li li a:focus,
.navigation li li a:active {
    background-color: var(--firm-color-nav-secondary-surface-focus);
    border-color: var(--firm-color-nav-secondary-border-focus);
    color: var(--firm-color-nav-secondary-content-focus);
}

.navigation ul[role="list"] {
    list-style: none;
    margin-left: calc(-1 * var(--firm-space-fixed-md));
    position: relative;
    width: 100vw;

    li {
        margin-inline-start: 0;
        width: 100%;

        a {
            align-items: center;
            display: flex;
            height: var(--firm-space-fixed-2xl);
            padding-inline: var(--firm-space-fixed-md);
        }

        &:has([aria-expanded]) {
            display: grid;
            gap: 0;
            grid-auto-flow: row;
            grid-template-columns: auto 1fr;

            > a {
                width: max-content;
            }
        }

        .button {
            display: flex;
            height: var(--fi-space-fixed-2xl);
            justify-content: flex-start;
            padding-left: var(--firm-space-fixed-xs);
            padding-right: var(--firm-space-fixed-xs);
            width: 100%;
        }

        > ul {
            display: none;
            grid-column: 1 / 3;
            margin-inline-start: 0;

            a {
                padding-inline-start: var(--firm-space-fixed-2xl);
            }
        }

        > [aria-expanded="true"] + ul {
            display: flex;
            flex-direction: column;
        }
    }
}
