    <footer class="[ region ] [ step--1 ] [ inverse ]">
      <div class="[ switcher ] [ wrapper ]">
        <div class="[ flow ]">
          <h2 class="[ h4 ]">Contact Us</h2>
          <h3 class="[ h5 ]">Email</h3>
          <div>
            <a href="mailto:idrc@ocadu.ca">idrc@ocadu.ca</a>
          </div>
          <h3 class="[ h5 ]">Phone</h3>
          <div>
            <a href="tel:(416) 977-6000 x3967">(416) 977-6000 x3967</a>
          </div>
          <h3 class="[ h5 ]">Address</h3>
          <address>
            <p>
              Inclusive Design Research Centre<br />
              205 Richmond Street West, 2nd Floor<br />
              Toronto, ON M5V 1V3
            </p>
          </address>
        </div>
        <div class="[ flow ]">
          <div class="[ grid-auto ]">
            <a href="https://idrc.ocadu.ca/" rel="external"
              >{{ include 'svg/idrc.svg' }}</a
            >
            <a href="https://ocadu.ca/" rel="external"
              >{{ include 'svg/ocadu.svg' }}</a
            >
          </div>
        </div>
        <div>
          <p>
            Funded in part by the Government of Canada's Social Development
            Partnerships Program.
          </p>
        </div>
        <div>
          <p>Published under a CC-BY-NC 4.0 License</p>
        </div>
      </div>
    </footer>
