/*
SWITCHER
More info: https://every-layout.dev/layouts/switcher/
A layout that allows you to lay **2** items next to each other
until there is not enough horizontal space to allow that.

CUSTOM PROPERTIES AND CONFIGURATION
--switcher-gap: This defines the space
between each item

--switcher-inline-at: How large the container
needs to be to allow items to sit inline with each other

--switcher-vertical-alignment How items should align vertically.
Can be any acceptable flexbox alignment value.
*/
.switcher {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: var(--firm-switcher-gap, 1rem);
    align-items: var(--firm-switcher-vertical-alignment, center);
}

.switcher > * {
    flex-grow: 1;
    flex-basis: calc((var(--firm-switcher-inline-at, 48rem) - 100%) * 999);
}


/* Prevents an item with [data-grow="false"] from growing to fit the
  available space.Handy for creating an effect similar to .repel. */
.switcher > [data-grow="false"] {
    flex-grow: unset;
}

/* Max 2 items,
  so anything greater than 4 is full width */
.switcher > :nth-child(n + 5) {
    flex-basis: 100%;
}
