/*
WRAPPER COMPOSITION
A common wrapper/container

CUSTOM PROPERTIES AND CONFIGURATION
--wrapper-max-width: The maximum width of the wrapper

--wrapper-padding-inline: The inline padding of the wrapper
*/
.wrapper {
    margin-inline: auto;
    max-width: var(--firm-wrapper-max-width, 90rem);
    padding-left: var(--firm-wrapper-padding-inline, 1rem);
    padding-right: var(--firm-wrapper-padding-inline, 1rem);
    position: relative;
    width: 100%;
}
