.button {
    --_padding-block: 0.65em;
    --_padding-inline: 0.75em;
    --_form-control-height: round(calc(2 * var(--_padding-block) + 1em * 1.25), 1px);

    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    font: inherit;
    font-size: var(--firm-form-control-font-size, var(--firm-text-base));
    border-color: transparent;
    padding-block: 0;
    background-color: var(--firm-color-fill-loud, var(--firm-color-neutral-fill-loud));
    border-radius: var(--firm-form-control-radius);
    border-style: var(--firm-border-style);
    border-width: var(--firm-form-control-border-width);
    box-shadow: var(--firm-shadow-xs);
    color: var(--firm-color-on-loud, var(--firm-color-neutral-on-normal));
    font-weight: var(--firm-font-weight-medium);
    gap: var(--firm-space-2xs);
    min-height: var(--_form-control-height);
    padding-inline: var(--_padding-inline);
    transition-property: color, background-color, border-color;
    transition-timing-function: var(--firm-ease-out);
    transition-duration: var(--firm-transition-normal);
}

.button:hover {
    background-color: color-mix(
        in oklab,
        var(--firm-color-fill-loud, var(--firm-color-neutral-fill-loud)),
        var(--firm-color-mix-hover, black 5%)
    );
}

.button:active {
    background-color: color-mix(
        in oklab,
        var(--firm-color-fill-loud, var(--firm-color-neutral-fill-loud)),
        var(--firm-color-mix-active, black 10%)
    );
}

.button:focus-visible {
    box-shadow: 0 0 0 3px color-mix(in oklab, var(--firm-color-fill-loud) 25%, transparent);
    outline: none;
    border-color: var(--firm-color-fill-loud);
}
