header {
    font-family: var(--firm-font-display);
    font-weight: var(--firm-font-weight-semibold);
}

.global {
    background: var(--firm-color-nav-global-surface);
    color: var(--firm-color-nav-global-content);
}

.global .wrapper {
    padding-block: var(--firm-space-fluid-md);
}

.global a {
    --_surface-color: var(--firm-color-action-inverse-surface-default);
    --_content-color: var(--firm-color-action-inverse-content-default);
}

.hero {
    background: var(--firm-color-hero-surface);
    color: var(--firm-color-hero-content-default);
}
